<!DOCTYPE html>
<html>

<head>
    <title>Shall we play?</title>
    <script type="text/javascript" src="static/hangman.js"></script>
</head>

<body>
    <div id='game_setup'>
        <form id='game_init'>
            <fieldset>
                <legend>Game parameters:</legend>
                Name: <br/>
                <input type='text' name='username' value='Anonymous'> <br/> 
                {% if request.args.get('share_id') != None %}
                <input type='hidden' name='challenge_id' value="{{request.args.get('share_id')}}">
                <input type='button' onclick='gameInit(); return false;' value="Accept {{request.args.get('friend_name')}}'s challenge"> 
                {% else %} 
                Difficulty: <br/>
                <select name='difficulty'>
                    <option value='1' selected>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                    <option value='9'>9</option>
                    <option value='10'>10</option>
                </select> 
                <input type='button' onclick='gameInit(); return false;' value='New game'> 
                {% endif %}
            </fieldset>
        </form>
    </div>
    <div id='game_field'>
        <p>The objective of the game is to guess the hidden word in as fewer steps as possible. You are allowed up to 6 incorrect guesses.</p>
        <p id='game_over'></p>
        <p id='share_link'></p>
        <img width='300' id='tree'></img>
        <p id='challenge'></p>
        <p id='alphabet'></p>
    </div>
    <div>
        <p>*** Leaderboard ***</p>
        <table>
            <thead>
                <tr>
                    <th>Difficulty</th>
                    <th>Score</th>
                    <th>Name</th>
                </tr>
                <tbody id='leaderboard'>
                </tbody>
            </thead>
        </table>
    </div>
    <script>
        getLeaderboard();
        setInterval(getLeaderboard, 60000);
    </script>
</body>

</html>